__pycache__/
*.pyc
.venv/

paper/*.aux
paper/*.bbl
paper/*.blg
paper/*.log
paper/*.out
paper/*.toc
paper/*.fls
paper/*.fdb_latexmk
paper/main.pdf
paper/supplement.pdf
paper/figures/*.pdf
paper/figures/*.png
